.activity-info {
  background-color: #b0f1e1;
  height: 535px;
  padding: 10px;
  border-top: 2px solid #00c6ae;
  position: relative;
}
.activity-text {
  padding: 15px 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 15px;
}
.activity-text p {
  margin-top: 5px;
}
.activity-text div {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.activity-text span {
  padding: 0 5px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  background-color: #eeeff4;
}
.activity-info button {
  cursor: pointer;
  background-color: white;
  border: 1px solid #00c6ae;
  color: #00c6ae;
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px 20px;
  margin: 50px 30px;
}
.activity-name {
  background-color: #b0f1e1;
  position: absolute;
  left: 0;
  top: -28px;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  padding: 5px;
  width: 120px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top: 2px solid #00c6ae;
  border-left: 2px solid #00c6ae;
  border-right: 2px solid #00c6ae;
}
.active {
  z-index: 100;
}


