.container {
  padding: 20px;
  width: 100%;
  height: 90px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  gap: 10px;
}
.level-pill {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 22px;
  font-weight: bold;
  font-size: 12px;
  background-color: #fd6129;
  border-radius: 25px;
}
.experience {
  display: flex;
  width: 28%;
  gap: 5px;
  flex-direction: column;
}
.experience p {
  text-align: center;
}
.text-huge {
  font-weight: bold;
  font-size: 27px;
}
.skills {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* gap: 2px; */
}
.skills div {
  display: flex;
  gap: 2px;
}
.skills span {
  margin-right: 2px;
  padding: 0 3px;
  background-color: #03d0b8;
  font-weight: bold;
  font-size: 12px;
}
.skill-point {
  width: 4px;
  background-color: gray;
  border-radius: 3px;
}
.blue {
  background-color: #03d0b8;
}
.yellow {
  background-color: #ffbd12;
}
.red {
  background-color: #fd6129;
}
