header {
  height: 40px;
  background-color: #00c6ae;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  width: 100%;
}
ul {
  display: flex;
  gap: 10px;
}
li {
  display: flex;
  align-items: center;
}
.icons-list {
  gap: 20px;
}
.notifications-icon {
  position: relative;
}
.icon-active {
  position: absolute;
  top: -4px;
  right: 0;
  height: 13px;
  width: 13px;
  background-color: #f95a2c;
  border: 2px solid white;
  border-radius: 50px;
}
