nav ul {
  height: 57px;
  width: 100%;
  background-color: white;
  padding: 5px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

nav button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
  justify-content: center;
  color: gray;
  font-size: 12px;
}
nav img {
  max-height: 21px;
}
.btn-add {
  font-size: 37px;
  color: white;
  width: 42px;
  height: 42px;
  background-color: #9fa4b4;
  border-radius: 50%;
}
.btn-message {
  position: relative;
}
.message-active {
  position: absolute;
  top: -4px;
  right: 8px;
  height: 13px;
  width: 13px;
  background-color: #f95a2c;
  border: 2px solid white;
  border-radius: 50px;
}
