.popup-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.popup {
  position: absolute;
  top: 390px;
  left: 40px;
  height: 100px;
  width: 280px;
  border-radius: 10px;
}
.popup img {
  max-width: 280px;
}
.popup p {
  width: 90%;
  position: absolute;
  top: 27px;
  left: 20px;
}
.popup-navbar {
  top: 615px;
  left: 75px;
}
