.user-info {
  background-color: white;
  position: relative;
  padding: 20px;
  height: 170px;
  display: flex;
}
.user-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.user-details {
  flex-direction: column;
  display: flex;
  padding: 20px 15px;
}
.user-details img {
  margin-right: 3px;
}
.user-details > div {
  display: flex;
  gap: 10px;
}
.visibility-icon {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 20px;
  top: 10px;
}
.user-info button {
  color: white;
  cursor: pointer;
  border-radius: 3px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 170px;
  margin-top: 23px;
  border: none;
  background-color: #00c6ae;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.3);
}
