* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
  background-color: rgb(232, 232, 232);
}
.app-container {
  position: relative;
  width: 375px;
  justify-content: center;
}

ul {
  list-style-type: none;
}
